body{
    margin: 0px;
}
.red{
    background-color: red;
    height: 100px;
    
}
.blue{
    background-color: blue;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.green{
    background-color: green;
    height: 100px;
    
    
}